Repository kubevirt/must-gather, pull requests merged in 2022-07, with the labels that each got.

#155 Try to collect qemu logs also from another path
  collection-scripts/gather_vms_details
Labels: size/XS, release-note, dco-signoff: yes, approved, lgtm

#154 Automate release process
  .github/workflows/release.yaml
  Makefile
  scripts/release-notes/Makefile
  scripts/release-notes/github.go
  scripts/release-notes/go.mod
  scripts/release-notes/go.sum
  scripts/release-notes/release.go
  scripts/release-notes/types.go
Labels: size/XL, release-note-none, dco-signoff: yes, approved, lgtm

#156 Update git package version in release-notes
  scripts/release-notes/go.mod
  scripts/release-notes/go.sum
Labels: size/XS, release-note-none, dco-signoff: yes, approved, lgtm
